* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(73, 207, 244));
  height: 100vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.header :nth-child(2) {
  margin-top: 10px;
  cursor: pointer;
}

.header :nth-child(2):hover {
  scale: 1.2;
  transition: all 0.4s ease-in-out;
}

.reload {
  font-family: Lucida Sans Unicode;
  font-size: 20px;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.choice:hover {
  cursor: pointer;
  scale: 0.8;
  transition: all 0.4s ease-in-out;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 50%;
  font-size: 50px;
}

#rock .img:hover {
  background-color: rgb(107, 112, 112);
}

#paper .img:hover {
  background-color: rgb(255, 255, 255);
}

#scissors .img:hover {
  background-color: rgb(73, 207, 244);
}

.choiceText {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  background: linear-gradient(to right, rgb(244, 217, 82), rgb(252, 103, 252));
}

.results {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 25px;
  gap: 20px;
}

.weapons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 30px;
}

#playerChoice,
#computerChoice {
  font-weight: bold;
  margin-left: 5px;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  gap: 20px;
  margin-top: 40px;
}

span {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .choices {
    gap: 20px;
  }

  .choice {
    margin-top: 10px;
  }

  .img {
    height: 80px;
    width: 80px;
    font-size: 30px;
    border: 2px solid black;
  }

  .choiceText {
    font-size: 20px;
  }

  .message {
    font-size: 20px;
    width: 200px;
    padding: 10px;
  }

  .results {
    gap: 10px;
    margin-top: 5px;
  }

  .weapons {
    margin-top: 20px;
    font-size: 15px;
  }

  .score {
    margin-top: 20px;
    font-size: 20px;
  }
}
